.h1-reg {
    font-size: 61.04px;
    line-height: 100%;
    font-weight: 300;
    padding: 1px;
    hyphens: auto;
    hyphens: none
}

.h1-bold {
    font-size: 61.04px;
    line-height: 100%;
    font-weight: 600;
    padding: 1px;
    hyphens: none
}

.h2-reg {
    font-weight: 300;
    font-size: 48.83px;
    line-height: 110%;
    padding: 1px;
    hyphens: none
}

.h2-bold {
    font-size: 48.83px;
    line-height: 110%;
    font-weight: 600;
    padding: 1px;
    hyphens: none
}

.h3-reg {
    font-size: 39.06px;
    line-height: 42px;
    font-weight: 300;
    padding: 1px;
    hyphens: none
}

.h3-bold {
    font-weight: 600;
    font-size: 39.06px;
    line-height: 42px;
    padding: 1px;
    hyphens: none
}

.h4-reg {
    font-weight: 300;
    font-size: 31.25px;
    line-height: 120%;
    padding: 1px;
    hyphens: none
}

.h4-bold {
    font-weight: 600;
    font-size: 31px;
    line-height: 120%;
    padding: 1px;
    hyphens: none
}

.h5-reg {
    font-weight: 300;
    font-size: 23.04px;
    line-height: 140%;
    padding: 1px;
    hyphens: none
}

.h5-bold {
    font-weight: 600;
    font-size: 23.04px;
    line-height: 140%;
    padding: 1px;
    hyphens: none
}

.h6-reg {
    font-weight: 300;
    font-size: 20px;
    line-height: 120%;
    padding: 1px;
    hyphens: none
}

.h6-bold {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    padding: 1px;
    hyphens: none
}

.p-bold {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    padding: 1px
}

.p-reg {
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    padding: 1px
}

.ps-reg {
    font-weight: 300;
    font-size: 12.8px;
    line-height: 140%;
    padding: 1px
}

.ps-bold {
    font-weight: 600;
    font-size: 12.8px;
    line-height: 140%;
    padding: 1px
}

.detail-reg {
    font-weight: 300;
    font-size: 10.24px;
    line-height: 11px;
    padding: 1px
}

.detail-bold {
    font-weight: 600;
    font-size: 10.24px;
    line-height: 11px;
    padding: 1px
}

.detail-underlined {
    font-weight: 300;
    font-size: 10.24px;
    line-height: 11px;
    text-decoration-line: underline;
    padding: 1px
}

.icon-small {
    font-size: 16px;
    line-height: 19px;
    padding: 1px
}

.jumbo-bold {
    font-weight: 600;
    font-size: 80px;
    line-height: 100%;
    padding: 1px
}

.jumbo-reg {
    font-weight: 300;
    font-size: 80px;
    line-height: 100%;
    padding: 1px
}

.pb-1 {
    padding-bottom: 1rem
}

.pb-2 {
    padding-bottom: 2rem
}

.pt1 {
    padding-top: 1rem
}

.pt2 {
    padding-top: 2rem
}

.pt3 {
    padding-top: 3rem
}

.mt1 {
    margin-top: 1rem
}

.mt2 {
    margin-top: 2rem
}

.mt3 {
    margin-top: 3.5rem
}

.mt4 {
    margin-top: 4.5rem
}

.mr1 {
    margin-right: 1rem
}

.mr2 {
    margin-right: 2rem
}

.mr3 {
    margin-right: 3em
}

.ml1 {
    margin-left: 1rem
}

.ml2 {
    margin-left: 2rem
}

.ml3 {
    margin-left: 3rem
}

.textRight {
    text-align: right!important
}

.textLeft {
    text-align: left!important
}

.textCenter {
    text-align: center!important
}

.alignCenter {
    align-items: center!important
}

@media only screen and (min-width:1800px) {
    .ml1 {
        margin-left: 1.5rem
    }
    .ml2 {
        margin-left: 2.5rem
    }
    .ml3 {
        margin-left: 4rem
    }
    .mt1 {
        margin-top: .5rem
    }
    .mt2 {
        margin-top: 1rem
    }
    .mt3 {
        margin-top: 2rem
    }
    .mt4 {
        margin-top: 5.5rem
    }
}

@media only screen and (max-width:1280px) {
    .h4-bold,
    .h4-reg {
        font-size: 27px
    }
    .mt4 {
        margin-top: 3.5rem
    }
}

@media only screen and (max-width:1024px) {
    .mt4 {
        margin-top: 2.5rem
    }
}

@media only screen and (max-width:980px) {
    .h1-bold,
    .h1-reg,
    .jumbo-bold,
    .jumbo-reg {
        font-size: 37px
    }
    .h2-bold,
    .h2-reg {
        font-size: 31px
    }
    .h3-bold,
    .h3-reg {
        font-size: 26px
    }
    .h4-bold,
    .h4-reg {
        font-size: 22px
    }
    .h5-bold,
    .h5-reg {
        font-size: 18px
    }
    .h6-bold,
    .h6-reg {
        font-size: 16px
    }
    .p-bold,
    .p-reg {
        font-size: 14px
    }
    .ps-bold,
    .ps-reg {
        font-size: 12px
    }
    .mt4 {
        margin-top: 2rem
    }
}

.wrapper {
    position: static;
    width: inherit;
    height: auto
}

.group {
    display: flex;
    justify-content: start;
    flex-direction: row;
    margin: 5px
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center
}

.group-column {
    display: flex;
    flex-direction: column;
    margin: 5px;
    justify-content: center;
    align-content: center;
    padding-left: 60px
}

.el-examples {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column
}

.btn-main,
[type=button],
[type=reset],
[type=submit],
button {
    background: var(--c-main);
    color: var(--c-secondary);
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 12px 24px;
    transition: all 2s;
    justify-content: center
}

.btn-main:hover {
    transition: all 1s;
    background: var(--c-gris-bold)
}

.btn-main.inverted {
    background-color: var(--c-secondary);
    color: var(--c-main)
}

.gris-claro-bg {
    background: var(--c-gris-claro)
}

.turquesa-c {
    color: var(--c-turquesa)
}

.dorado-c {
    color: var(--c-dorado)
}

.black-bg {
    background-color: var(--c-main);
    color: var(--c-secondary)
}

.alignLeft {
    align-items: flex-start;
    text-align: left
}

.alignRight {
    align-items: flex-end;
    text-align: right
}

.alignCenter {
    align-items: center;
    text-align: center
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.img-full {
    box-sizing: border-box;
    width: 100%;
    height: 100%
}

.img-half {
    box-sizing: border-box;
    width: 50%;
    position: relative
}

.img-3-4 {
    width: 75%;
    height: 100%
}

.img-logo {
    box-sizing: border-box;
    width: var(--ms-w-logo);
    height: auto
}

.next-icon,
.prev-icon {
    width: 40px;
    height: 40px;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--c-secondary);
    box-shadow: 0 4px 24px rgba(0, 0, 0, .05);
    border-radius: 50%;
    margin: 4px;
    cursor: pointer
}

.next-icon:hover,
.prev-icon:hover {
    background-color: var(--c-gris-claro)
}

.prev-icon {
    background-image: url(../icons/icon-prev.svg)
}

.next-icon {
    background-image: url(../icons/icon-next.svg)
}

.prev-white {
    width: 40px;
    height: 40px;
    background-image: url(../icons/prev-white.svg);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 4px;
    display: block
}

.next-white {
    width: 40px;
    height: 40px;
    background-image: url(../icons/next-white.svg);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 4px;
    display: block
}

.nav-white-arrows {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    display: flex
}

.share-fb,
.share-ig,
.share-tw,
.share-yt {
    width: 40px;
    height: 40px;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 4px
}

.share-fb {
    background-image: url(../icons/Facebook.svg)
}

.share-tw {
    background-image: url(../icons/Twitter.svg)
}

.share-ig {
    background-image: url(../icons/ig.svg)
}

.share-yt {
    background-image: url(../icons/youtube.svg)
}

.whatsapp-icon {
    z-index: 999;
    position: fixed;
    width: 60px;
    height: 60px;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 4px;
    background-image: url(../icons/whatsapp.svg);
    bottom: 15px;
    right: 15px;
    transition: all 1s
}

.whatsapp-icon:hover {
    transform: scale(1.1);
    transition: all 1s
}

@media only screen and (max-width:980px) {
    .img-half {
        width: 100%;
        height: 50vh
    }
    .img-full {
        height: 100vh
    }
}

.slide-wrapper {
    height: 95vh;
    width: 50%
}

.img-slider {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.input-row {
    display: flex;
    margin-bottom: 16px;
    width: 100%
}

.input-single {
    margin-bottom: 16px;
    width: 100%;
    overflow: hidden
}

.input-row span {
    width: 16px
}

input,
select {
    height: 56px;
    width: 100%;
    background: #f5f5f5;
    color: var(--c-dorado);
    padding-left: 16px
}

::placeholder {
    color: #bfbfbf
}

.footer-wrapper {
    width: 100%;
    height: auto;
    background-color: var(--c-main);
    color: var(--c-secondary);
    position: relative
}

.footer-wrapper a {
    color: #fff!important
}

.footer-logo {
    background: var(--c-main);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--c-secondary)
}

.footer-logo img {
    height: 64px
}

.grid-footer {
    display: flex;
    flex-direction: row;
    padding: 80px 0;
    justify-content: space-around
}

.grid-footer .group-icons {
    display: flex;
    justify-content: start;
    flex-direction: row;
    margin: 5px;
    position: absolute;
    bottom: 0;
    left: calc(50% - 96px)
}

.note-ft {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px
}

.footer-list li:first-child {
    font-weight: 600!important;
    margin-bottom: 10px
}

.footer-list li {
    width: 240px;
    font-size: 16px;
    line-height: 20px
}

.group-column.contacto ul:not(:first-child) {
    margin-top: 25px
}

.content-1,
.content-2,
.content-3,
.content-4 {
    width: 100%;
    background: var(--c-main)
}

.content-1 {
    position: relative
}

.footer-list.p-reg {
    line-height: 110%
}

@media only screen and (max-width:980px) {
    .grid-footer {
        flex-direction: column-reverse;
        align-items: center
    }
    .footer-list {
        margin-bottom: 15px
    }
    .footer-list li {
        width: auto
    }
    .footer-list.h6-reg {
        text-align: center
    }
    .group-column ul:first-child {
        min-height: 80%
    }
    .grid-footer .group-icons {
        bottom: -85px
    }
    .footer-logo {
        padding-top: 55px
    }
}

.home-info-card {
    height: auto;
    width: 50%;
    background-color: var(--c-secondary);
    display: block;
    position: relative
}

.info-card-wrapper {
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    text-align: left;
    overflow: hidden
}

.infoSwiper .info-card-wrapper {
    width: 50%;
    height: 100%
}

.info-card-specs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5rem 0
}

.info-slide-wrapper {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
    width: 100%;
    height: 100%
}

.img-inverted .info-slide-wrapper {
    flex-direction: row-reverse
}

.swiper-container.infoSwiper .img-slider {
    width: 50%;
    height: 100%
}

@media only screen and (max-width:980px) {
    .swiper-container.one,
    .swiper-container.tab-info,
    .swiper-container.three,
    .swiper-container.two {
        height: calc(60vh - 102px)
    }
    .info-card-wrapper {
        width: 100%
    }
    .home-info-card {
        width: 100%;
        height: 100%
    }
    .info-card-specs {
        padding: 1rem 0
    }
    .swiper-container.infoSwiper .img-slider {
        width: 100%;
        height: 250px
    }
    .infoSwiper .info-card-wrapper {
        width: 100%;
        height: calc(100vh - 250px)
    }
    .img-inverted .info-slide-wrapper,
    .info-slide-wrapper {
        flex-direction: column
    }
}

.description {
    box-sizing: border-box;
    width: 50%;
    margin: auto;
    padding: 0 3rem
}

.description-flex {
    box-sizing: border-box;
    width: 50%;
    margin: auto;
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    padding: 55px;
    justify-content: center
}

.description p {
    margin-top: 2rem
}

.highlighted {
    color: var(--ms-c-highlight)
}

.bold-highlight {
    font-weight: 600
}

.text-wrapper_center {
    width: 100%;
    text-align: center
}

.mobile-menu-wrapper {
    display: none
}

.desktop-nav-wrapper {
    display: inherit
}

.text-box {
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

@media only screen and (max-width:980px) {
    .description {
        width: 100%;
        padding: 2rem;
        box-sizing: border-box
    }
    .description p {
        margin-top: 1rem
    }
    .mobile-hide {
        display: none
    }
    .desktop-nav-wrapper,
    .mobile-hide {
        display: none
    }
    .mobile-menu-wrapper {
        display: block;
        z-index: 1500
    }
    .mobile-style {
        height: 56px
    }
    .description-flex {
        width: 100%
    }
}

.wide-banner-wrapper {
    position: relative;
    height: auto
}

.banner-title {
    color: var(--c-secondary);
    padding: 5rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30%
}

@media only screen and (max-width:980px) {
    .banner-title {
        top: 40%;
        padding: 2rem
    }
}

.map-block {
    display: flex
}

.map-block .img-half {
    position: relative
}

.map-tip {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 90px;
    background-color: var(--c-main);
    color: var(--c-secondary);
    box-sizing: border-box;
    width: 50%
}

.map-tip .h5-bold {
    padding: 1rem;
    width: 150px
}

@media only screen and (max-width:980px) {
    .map-block {
        flex-direction: column
    }
    .map-tip {
        width: 100%
    }
}

.image-with-description-block {
    display: flex
}

.image-with-description-block .highlight {
    color: var(--c-dorado)
}

.highlight-slider-block {
    display: flex
}

.highlight-slider-block.img-inverted,
.info-slider-block.img-inverted {
    flex-direction: row-reverse
}

.highlight-slider-block .img-half {
    position: relative
}

.highlight-slider-block .description {
    margin: 5% 0 0 0
}

.highlight-slider-block .highlight {
    color: var(--c-dorado)
}

.slider-nav {
    padding: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2
}

@media only screen and (max-width:980px) {
    .highlight-slider-block .description .p-reg {
        width: 100%
    }
    .highlight-slider-block .description {
        height: auto
    }
}

.img-cta-block {
    display: flex
}

.img-cta-block.withLogo {
    height: 90vh
}

.img-cta-block>.description p {
    margin: 2rem 0;
    hyphens: none
}

.img-cta-block.img-inverted {
    flex-flow: row-reverse
}

.info-slider-block {
    display: flex
}

.img-cta-block .description .btn-main {
    width: 25%
}

@media only screen and (max-width:980px) {
    .info-slider-block.img-inverted {
        flex-flow: column
    }
    .img-cta-block.img-inverted {
        flex-flow: column
    }
    .img-cta-block .description .btn-main {
        width: 50%
    }
    .img-cta-block.withLogo {
        height: auto
    }
}

.marquee-with-desc {
    padding: 100px 0 50px 0
}

.marquee-with-desc .text-wrapper_center {
    height: 100px
}

.form-cta-block {
    display: flex
}

.form-cta-block form {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 120px;
    box-sizing: border-box
}

.form-column {
    width: 50%;
    padding: 50px;
    box-sizing: border-box
}

@media only screen and (max-width:980px) {
    .form-cta-block,
    .highlight-slider-block,
    .image-with-description-block,
    .img-cta-block,
    .info-slider-block {
        flex-direction: column
    }
    .info-slider-block.inverted {
        flex-direction: column-reverse
    }
    .slide-wrapper {
        height: 50vh;
        width: 100%
    }
    .img-slider {
        width: 100%;
        height: 100%
    }
    .form-cta-block form {
        width: 100%;
        padding: 25px
    }
    .form-column {
        width: 100%;
        padding: 25px
    }
}

.tab {
    display: flex;
    width: 100%;
    justify-content: center;
    background: var(--ms-c-highlight);
    margin-top: 60px
}

.tabcontent {
    width: 100%;
    height: auto
}

.brand-content-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100%
}

.brand-content-wrapper h1 {
    margin-top: 30px;
    color: #fff
}

.tabs-slider-txt {
    position: absolute;
    bottom: 150px;
    width: 100%;
    text-align: center;
    color: #fff;
    padding-bottom: 10px
}

.brand-content-wrapper .img-logo {
    width: 200px
}

@media only screen and (max-width:980px) {
    .brand-content-wrapper .img-logo {
        width: 180px
    }
    .tabs-slider-txt {
        bottom: 80px
    }
}

.rv-block {
    display: flex
}

.rv-block .description {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start
}

.rv-block .description .feat-list {
    margin: 25px 0
}

.rv-block .description a {
    margin-top: 25px;
    font-weight: 600!important
}

.rv-wrapper {
    width: 75%;
    height: 100vh
}

.iframe-wrap {
    width: 75%;
    height: 100vh
}

@media only screen and (max-width:980px) {
    .rv-block {
        flex-direction: column
    }
    .rv-wrapper {
        width: 100%;
        height: 50vh
    }
    .rv-block .description {
        width: 100%;
        height: auto
    }
    .iframe-wrap {
        width: 100%;
        height: 70vh
    }
    .iframe-wrap.yt-link {
        width: 100%;
        height: 50vh
    }
}

.img-text-grid-block {
    display: flex;
    flex-direction: row;
    height: auto
}

.grid-row {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap
}

.grid-column {
    display: Flex;
    flex-direction: column;
    width: 50%
}

.grid-column .box-row:nth-child(odd) {
    flex-direction: row-reverse
}

.img-text-grid-block .img-box,
.img-text-grid-block .text-box {
    box-sizing: border-box;
    width: 50%;
    height: 100%
}

.img-text-grid-block .box-row {
    justify-content: center;
    align-items: center
}

@media only screen and (max-width:980px) {
    .grid-column {
        width: 100%
    }
    .img-text-grid-block {
        flex-direction: column
    }
    .img-text-grid-block .grid-column .box-row {
        height: 25vh
    }
}

.img-highlight-block {
    display: flex;
    flex-direction: row;
    height: calc(100vh - var(--nav-height));
    width: 100%;
    overflow: hidden
}

.img-highlight-block.img-inverted,
.img-highlight-block.inverted {
    flex-direction: row-reverse
}

.img-highlight-block.with-desc .description {
    flex-direction: column
}

.img-highlight-block .description .h1-reg {
    margin-bottom: 32px;
    hyphens: none
}

.img-highlight-block .highlighted {
    color: var(--ms-c-highlight);
    font-weight: 600!important
}

@media only screen and (max-width:980px) {
    .img-highlight-block {
        flex-direction: column;
        flex-flow: column-reverse
    }
    .img-highlight-block.img-inverted,
    .img-highlight-block.inverted {
        flex-direction: column-reverse
    }
}

.quote-scroll-block {
    background-color: var(--c-main);
    padding: 100px 0
}

.text-scroll-block {
    height: 300px;
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center
}

.text-scroll-block svg text {
    font-size: 40px
}

@media only screen and (max-width:980px) {
    .quote-scroll-block .h2-bold,
    .quote-scroll-block .h2-reg {
        font-size: 50px
    }
    .text-scroll-block {
        height: 200px
    }
    .text-scroll-block svg text {
        font-size: 65px
    }
}

.sticky-grid-block {
    background: var(--c-secondary);
    position: relative;
    display: flex;
    flex-direction: row
}

.sticky-col {
    position: sticky;
    height: 100vh;
    width: 50%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background: var(--c-secondary);
    align-items: flex-start;
    box-sizing: border-box
}

.scroll-grid-col {
    width: 50%;
    z-index: 2
}

.scroll-grid-col .box-row:nth-child(2n+0) {
    flex-direction: row-reverse
}

.box-row {
    display: flex;
    flex-direction: row;
    width: 100%
}

.text-box {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box
}

.image-box {
    width: 50%;
    height: 100%;
    overflow: hidden
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.grid-image-wrapper {
    width: 100%;
    height: 51vh
}

@media only screen and (max-width:1024px) {
    .sticky-grid-block {
        flex-direction: column!important
    }
    .scroll-grid-col {
        width: 100%
    }
    .grid-image-wrapper {
        height: 25vh
    }
    .scroll-grid-col {
        z-index: 2
    }
    .sticky-col {
        height: 50vh;
        width: 100%
    }
}

.columns-block .wrppr {
    width: 100%;
    height: auto;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
    padding: 20px 55px;
    box-sizing: border-box
}

.columns-block .wrppr .flex-col {
    width: 33.3%;
    margin: 1rem;
    justify-content: flex-start
}

.img-gallery-block .img-gallery-grid {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto
}

.img-gallery-block .img-gallery-grid .img-wrppr {
    width: 25%;
    height: auto
}

.img-gallery-block .img-gallery-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.paragraph-block {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: center;
    padding: 6rem
}

.paragraph-block p {
    text-align: center;
    padding: 0 15px;
    width: 25%
}

@media only screen and (max-width:980px) {
    .paragraph-block {
        flex-direction: column;
        padding: 2rem 2rem 2rem 2rem
    }
    .paragraph-block p {
        margin-bottom: 1rem;
        text-align: left;
        width: 100%;
        padding: 0
    }
    .img-gallery-block .img-gallery-grid .img-wrppr {
        width: 50%
    }
    .columns-block .wrppr {
        padding: 2rem;
        box-sizing: border-box
    }
    .columns-block .wrppr .group-column {
        padding: 0
    }
    .columns-block .wrppr .group {
        flex-direction: column
    }
    .columns-block .wrppr .flex-col {
        width: 100%;
        margin: 0
    }
}

.marquee-block {
    padding: 5% 0
}

.marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap
}

.marquee:hover .marquee__item {
    animation-play-state: paused
}

.marquee__item span:nth-child(2n+0) {
    margin-right: 5rem
}

.marquee__item {
    display: inline-block;
    will-change: transform;
    animation: marquee 10s linear infinite
}

@keyframes marquee {
    0% {
        transform: translateX(0)
    }
    100% {
        transform: translateX(-50%)
    }
}

.marquee {
    padding: 1rem 0;
    height: auto
}

.grid-wrap {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-flow: wrap
}

.grid-wrap .box-row {
    width: 50%
}

.tabcontent {
    box-sizing: border-box
}

.tablinks {
    background-color: transparent
}

.tablinks:hover {
    opacity: .6
}

.tablinks.active {
    font-weight: 800
}

.swiper-container {
    width: 100%;
    height: calc(100vh - 102px)
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center
}

.swiper-container.infoSwiper {
    width: 100vw;
    height: calc(100vh - 60px)
}

.swiper-button-next.info {
    background-image: url(../icons/icon-next.svg);
    top: 75px
}

.swiper-button-prev.info {
    background-image: url(../icons/icon-prev.svg);
    top: 20px
}

.swiper-button-next.info,
.swiper-button-prev.info {
    left: 10px;
    right: auto
}

.swiper-button-next.info,
.swiper-button-prev.info {
    left: 10px;
    right: auto
}

.img-inverted .swiper-button-next.info,
.img-inverted .swiper-button-prev.info {
    left: auto;
    right: 10px
}

.swiper-button-next.info::after,
.swiper-button-prev.info::after {
    content: ""
}

.swiper-button-next.one::after,
.swiper-button-next.tab-info::after,
.swiper-button-next.three::after,
.swiper-button-next.two::after,
.swiper-button-prev.one::after,
.swiper-button-prev.tab-info::after,
.swiper-button-prev.three::after,
.swiper-button-prev.two::after {
    content: ""
}

.swiper-button-next.one,
.swiper-button-next.tab-info,
.swiper-button-next.three,
.swiper-button-next.two {
    right: 46%;
    top: 80%;
    transform: rotate(90deg);
    background-image: url(../icons/icon-prev.svg)
}

.swiper-button-prev.one,
.swiper-button-prev.tab-info,
.swiper-button-prev.three,
.swiper-button-prev.two {
    left: 46%;
    top: 80%;
    transform: rotate(90deg);
    background-image: url(../icons/icon-next.svg)
}

.swiper-button-next.info,
.swiper-button-next.one,
.swiper-button-next.tab-info,
.swiper-button-next.three,
.swiper-button-next.two,
.swiper-button-prev.info,
.swiper-button-prev.one,
.swiper-button-prev.tab-info,
.swiper-button-prev.three,
.swiper-button-prev.two {
    width: 40px;
    height: 40px;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--c-secondary);
    box-shadow: 0 4px 24px rgba(0, 0, 0, .05);
    border-radius: 50%;
    margin: 4px;
    cursor: pointer;
    transition: background-color .5s
}

.swiper-button-next.info:hover,
.swiper-button-prev.info:hover {
    background-color: #e0e0e0;
    transition: background-color .5s
}

.full-screen-video {
    height: 100vh;
    width: 100%
}

.full-screen-video video {
    object-fit: cover
}

.aviso-priv {
    margin: 55px 150px
}

.aviso-priv p {
    text-align: left!important
}

.text-secondary {
    font-weight: 600;
    padding: 10px 0;
    color: #414141
}

.text-muted {
    color: #707070
}

@media only screen and (max-width:980px) {
    .tablinks {
        padding: 12px 8px;
        font-size: 14px
    }
    .aviso-priv {
        margin: 20px 25px
    }
    .swiper-button-next.one,
    .swiper-button-next.tab-info,
    .swiper-button-next.three,
    .swiper-button-next.two {
        right: 36%;
        top: 50%
    }
    .swiper-button-prev.one,
    .swiper-button-prev.tab-info,
    .swiper-button-prev.three,
    .swiper-button-prev.two {
        left: 36%;
        top: 50%
    }
}

form ul .row>li input[type=text],
form ul .row>li textarea,
form ul>li input[type=text],
form ul>li textarea {
    height: 56px!important;
    width: 100%;
    background: #f5f5f5!important;
    color: var(--c-dorado);
    padding-left: 16px;
    border-color: transparent!important;
    border-radius: 1px;
    border-width: 2px;
    border-style: solid
}

#loader {
    opacity: 1;
    transition: opacity .3s ease-in-out;
    position: fixed;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 1002;
    top: 0;
    bottom: 0
}

#loader-bar {
    width: 0%;
    height: 5px;
    background-color: var(--c-dorado);
    text-align: center;
    line-height: 30px;
    color: #fff;
    position: absolute;
    top: 0
}

#loader img {
    width: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    animation-name: flicker;
    animation-duration: .5s;
    animation-iteration-count: infinite
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: var(--ms-c-highlight)!important
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--ms-c-highlight)!important
}

.poster-image {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    bottom: 0;
    left: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    transition: all .3s ease-in;
    cursor: pointer
}

.poster-image .play-icon {
    width: 100px;
    height: 100px;
    position: absolute;
    left: calc(50% - 50px);
    top: calc(50% - 50px)
}

#landingNav,
#normalNav {
    display: none
}